name: Deploy latest model

on:
  workflow_dispatch:   # run manually; you can also add "push" triggers

env:
  MODEL_NAME: diabetes-model
  DEPLOYMENT_NAME: blue
  AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
  AZURE_RESOURCE_GROUP: ${{ secrets.AZURE_RESOURCE_GROUP }}
  AZURE_ML_WORKSPACE: ${{ secrets.AZURE_ML_WORKSPACE }}

jobs:
  deploy-latest:
    runs-on: ubuntu-latest
    environment:
      name: "production"
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Install Azure ML CLI
        run: |
          az extension add -n ml -y
          az account set --subscription "$AZURE_SUBSCRIPTION_ID"

      - name: Create endpoint if not exists
        run: |
          az ml online-endpoint create \
            --file src/create_endpoint.yml \
            -g "$AZURE_RESOURCE_GROUP" \
            -w "$AZURE_ML_WORKSPACE"

      - name: Get latest model version

        id: get_model
        run: |
          LATEST_VERSION=$(az ml model list \
            --name "$MODEL_NAME" \
            --resource-group "$AZURE_RESOURCE_GROUP" \
            --workspace-name "$AZURE_ML_WORKSPACE" \
            --query "max_by(@, &to_number(version)).version" \
            -o tsv)

          if [ -z "$LATEST_VERSION" ]; then
            echo "No versions found for model $MODEL_NAME"
            exit 1
          fi

          echo "Latest version is $LATEST_VERSION"
          echo "LATEST_MODEL_VERSION=$LATEST_VERSION" >> $GITHUB_OUTPUT

      - name: Deploy latest model to endpoint

        run: |
          az ml online-deployment create \
            --name "$DEPLOYMENT_NAME" \
            --resource-group "$AZURE_RESOURCE_GROUP" \
            --workspace-name "$AZURE_ML_WORKSPACE" \
            --file src/deploy_model_to_endpoint.yml
            --set model="azureml:${{ env.MODEL_NAME }}:${{ steps.get_model.outputs.LATEST_MODEL_VERSION }}"