name: PR Workflow

on:
  pull_request:
    # Trigger only when a PR is created
    types: [opened]
    # Optionally restrict to certain target branches
    branches: [ main, develop ]

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code

        uses: actions/checkout@v4

      - name: Placeholder
        run: |
          echo "Will add code checks here in next challenge"
